HFORMS_DB_PATH=var/hitech_forms.db
HFORMS_HOST=127.0.0.1
HFORMS_PORT=8000
HFORMS_ADMIN_TOKEN=change-me
HFORMS_TIMEZONE=UTC
HFORMS_RATE_LIMIT_PER_MINUTE=300
HFORMS_FEATURE_WEBHOOKS_OUTBOX=false
HFORMS_FEATURE_RATE_LIMIT=false
HFORMS_FEATURE_METRICS=false
HFORMS_WEBHOOK_TARGET_URL=
HFORMS_WEBHOOK_MAX_ATTEMPTS=8
HFORMS_WEBHOOK_BASE_BACKOFF_SECONDS=5
HFORMS_WEBHOOK_JITTER=0
HFORMS_RATE_LIMIT_RPS_PUBLIC=0
HFORMS_RATE_LIMIT_RPS_ADMIN=0
HFORMS_LOG_LEVEL=INFO
HFORMS_FLAG_DEMO=false
